.top-nav {
  background-color: #404345;
  display: flex;
  justify-content: space-between;
  padding: 0 5em;

  .info__link {
    display: flex;
    align-items: center;

    p {
      padding: 0 6px;
    }
  }
}

@media (max-width: 780px) {
  .top-nav {
    display: none;
  }
}
